{#{{ header }}#}
{#	<div id="content">#}
{#		{{ column_left }}		#}
{#		{{ column_left }}#}
{#		{{ carmod_vin }}#}
{#		{{ content_top }}#}
{#		#}
{#		#}
{#		#}
{#		{{ content_bottom }}		#}
{#		{{ column_right }}		#}
{#	</div>#}
{#{{ footer }}#}
{#{{ footer_fixed }}#}
{#{{ mobile_nav }}#}

{#{{ js_scripts }}#}
{#{{ modal_dialog }}#}
{#{{ newsletter }}#}
{#{{ cart_popup }}#}
{#{{ modal }}#}

{{ header }}


{#	<main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">#}
{#		{{ slider_section }}#}
{#		#}

{#		{{ banner_block }}#}
{#		{{ section_product }}#}
{#		{{ banner_block_2 }}#}
{#		{{ section_product_with_banner }}#}
{#		{{ carousel }}#}
{#		{{ product_with_banner }}#}
{#		{{ banners_and_carousels }}#}
{#		{{ banner_4 }}#}
{#		{{ title }}#}
{#		{{ custom_block }}#}
{#	</main>#}
	<div id="content_carmod" style="max-width:1160px; margin:auto;">
		{{ content_carmod }}
	</div>

	{#<div id="common-home" class="container">#}
	{#  <div class="row">{{ column_left }}#}
	{#    {% if column_left and column_right %}#}
	{#    {% set class = 'col-sm-6' %}#}
	{#    {% elseif column_left or column_right %}#}
	{#    {% set class = 'col-sm-9' %}#}
	{#    {% else %}#}
	{#    {% set class = 'col-sm-12' %}#}
	{#    {% endif %}#}
	{#    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>#}
	{#    {{ column_right }}</div>#}
	{#</div>#}
	{{ footer }}
</div>
{{ footer_fixed }}
{{ mobile_nav }}

{{ js_scripts }}
{{ modal_dialog }}
{#{{ newsletter }}#}
{{ cart_popup }}
{{ modal }}

<div class="overlay_background"></div>
<div class="overlay_background_2"></div>