<div id="shopify-section-footer" class="shopify-section">


  <div class="site-footer-top">


    <div class="footer-owner padding-top-20 padding-bottom-20 text-center">
      <div class="container">
        <p>Need help? We're available at <strong>1800-000-6890</strong> - Email us at: email@domain.com or
          <a href="/" title="#">LIVE HELP</a></p>
      </div>
    </div>


    <div class="footer-block-icon">
      <div class="container">
        <div class="footer-block-icon-row" data-slick='{
                            "dots": false,
                            "arrows": true,
                            "infinite": false,
                            "mobileFirst": true,
                            "adaptiveHeight": true,
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                            "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                            "responsive": [
                                {
                                    "breakpoint": 1100,
                                    "settings": {
                                        "slidesToShow": 4,
                                        "slidesToScroll": 4
                                    }
                                },
                                {
                                    "breakpoint": 992,
                                    "settings": {
                                        "slidesToScroll": 3,
                                        "slidesToShow": 3
                                    }
                                },
                                {
                                    "breakpoint": 551,
                                    "settings": {
                                        "slidesToScroll": 2,
                                        "slidesToShow": 2
                                    }
                                }
                            ]}'>


          <div class="halo-item">
            <div class="halo-feature-icon layout-3">

              <div class="icon">
                <svg x="0px" y="0px" viewbox="0 0 493.349 493.349">
                  <g>
                    <path d="M487.932,51.1c-3.613-3.612-7.905-5.424-12.847-5.424h-292.36c-4.948,0-9.233,1.812-12.847,5.424 		c-3.615,3.617-5.424,7.902-5.424,12.85v54.818h-45.683c-5.14,0-10.71,1.237-16.705,3.711c-5.996,2.478-10.801,5.518-14.416,9.135 		l-56.532,56.531c-2.473,2.474-4.612,5.327-6.424,8.565c-1.807,3.23-3.14,6.14-3.997,8.705c-0.855,2.572-1.477,6.089-1.854,10.566 		c-0.378,4.475-0.62,7.758-0.715,9.853c-0.091,2.092-0.091,5.71,0,10.85c0.096,5.142,0.144,8.47,0.144,9.995v91.36 		c-4.947,0-9.229,1.807-12.847,5.428C1.809,347.076,0,351.363,0,356.312c0,2.851,0.378,5.376,1.14,7.562 		c0.763,2.19,2.046,3.949,3.858,5.284c1.807,1.335,3.378,2.426,4.709,3.285c1.335,0.855,3.571,1.424,6.711,1.711 		s5.28,0.479,6.423,0.575c1.143,0.089,3.568,0.089,7.279,0c3.715-0.096,5.855-0.144,6.427-0.144h18.271 		c0,20.17,7.139,37.397,21.411,51.674c14.277,14.274,31.501,21.413,51.678,21.413c20.175,0,37.401-7.139,51.675-21.413 		c14.277-14.276,21.411-31.504,21.411-51.674H310.63c0,20.17,7.139,37.397,21.412,51.674c14.271,14.274,31.498,21.413,51.675,21.413 		c20.181,0,37.397-7.139,51.675-21.413c14.277-14.276,21.412-31.504,21.412-51.674c0.568,0,2.711,0.048,6.42,0.144 		c3.713,0.089,6.14,0.089,7.282,0c1.144-0.096,3.289-0.288,6.427-0.575c3.139-0.287,5.373-0.855,6.708-1.711s2.901-1.95,4.709-3.285 		c1.81-1.335,3.097-3.094,3.856-5.284c0.77-2.187,1.143-4.712,1.143-7.562V63.953C493.353,59.004,491.546,54.724,487.932,51.1z 		 M153.597,400.28c-7.229,7.23-15.797,10.854-25.694,10.854c-9.898,0-18.464-3.62-25.697-10.854 		c-7.233-7.228-10.848-15.797-10.848-25.693c0-9.897,3.619-18.47,10.848-25.701c7.232-7.228,15.798-10.848,25.697-10.848 		c9.897,0,18.464,3.617,25.694,10.848c7.236,7.231,10.853,15.804,10.853,25.701C164.45,384.483,160.833,393.052,153.597,400.28z 		 M164.45,228.403H54.814v-8.562c0-2.475,0.855-4.569,2.568-6.283l55.674-55.672c1.712-1.714,3.809-2.568,6.283-2.568h45.111 		V228.403z M409.41,400.28c-7.23,7.23-15.797,10.854-25.693,10.854c-9.9,0-18.47-3.62-25.7-10.854 		c-7.231-7.228-10.849-15.797-10.849-25.693c0-9.897,3.617-18.47,10.849-25.701c7.23-7.228,15.8-10.848,25.7-10.848 		c9.896,0,18.463,3.617,25.693,10.848c7.231,7.235,10.852,15.804,10.852,25.701C420.262,384.483,416.648,393.052,409.41,400.28z"></path>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
              <div class="content">
                <h3 class="title">Worldwide Delivery</h3>
                <p class="description">Metus tellus ultricies et quam sit amet commodo odio diam a
                  libero nulla facilisi suspendissous enim sodales lacinia neque commodo.</p>
              </div>
            </div>
          </div>
          <div class="halo-item">
            <div class="halo-feature-icon layout-3">
              <div class="icon">
                <svg x="0px" y="0px" viewbox="0 0 548.176 548.176">
                  <g>
                    <g>
                      <path d="M534.754,68.238c-8.945-8.945-19.698-13.417-32.258-13.417H45.681c-12.562,0-23.313,4.471-32.264,13.417 			C4.471,77.185,0,87.936,0,100.499v347.173c0,12.566,4.471,23.318,13.417,32.264c8.951,8.946,19.702,13.419,32.264,13.419h456.815 			c12.56,0,23.312-4.473,32.258-13.419c8.945-8.945,13.422-19.697,13.422-32.264V100.499 			C548.176,87.936,543.699,77.185,534.754,68.238z M511.627,447.679c0,2.478-0.903,4.613-2.711,6.427 			c-1.807,1.8-3.949,2.703-6.42,2.703H45.681c-2.473,0-4.615-0.903-6.423-2.71c-1.807-1.813-2.712-3.949-2.712-6.427V274.088 			h475.082V447.679z M511.627,164.449H36.545v-63.954c0-2.474,0.902-4.611,2.712-6.423c1.809-1.803,3.951-2.708,6.423-2.708h456.815 			c2.471,0,4.613,0.901,6.42,2.708c1.808,1.812,2.711,3.949,2.711,6.423V164.449L511.627,164.449z"></path>
                      <rect x="73.092" y="383.719" width="73.089" height="36.548"></rect>
                      <rect x="182.728" y="383.719" width="109.634" height="36.548"></rect>
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
              <div class="content">
                <h3 class="title">Secure Shopping</h3>
                <p class="description">Metus tellus ultricies et quam sit amet commodo odio diam a
                  libero nulla facilisi suspendissous enim sodales lacinia neque commodo.</p>

              </div>
            </div>
          </div>


          <div class="halo-item">
            <div class="halo-feature-icon layout-3">

              <div class="icon">
                <svg x="0px" y="0px" viewbox="0 0 438.543 438.543">
                  <g>
                    <path d="M396.58,5.424C392.959,1.807,388.675,0,383.727,0H54.824c-4.952,0-9.235,1.807-12.852,5.424 		c-3.615,3.615-5.424,7.898-5.424,12.847v219.268c0,16.371,3.186,32.596,9.563,48.681c6.374,16.084,14.274,30.361,23.697,42.828 		c9.423,12.47,20.651,24.605,33.689,36.405c13.04,11.806,25.078,21.6,36.116,29.409c11.038,7.803,22.554,15.181,34.545,22.121 		c11.991,6.943,20.511,11.663,25.553,14.134c5.043,2.478,9.088,4.38,12.132,5.708c2.286,1.143,4.758,1.718,7.426,1.718 		c2.671,0,5.14-0.575,7.428-1.718c3.042-1.328,7.087-3.23,12.128-5.708c5.041-2.471,13.565-7.19,25.557-14.134 		c11.984-6.94,23.504-14.318,34.54-22.121c11.043-7.81,23.079-17.604,36.121-29.409c13.031-11.8,24.263-23.936,33.685-36.405 		c9.421-12.467,17.319-26.744,23.705-42.828c6.379-16.085,9.562-32.31,9.562-48.681V18.271 		C401.994,13.319,400.187,9.04,396.58,5.424z M347.178,237.539c0,33.5-22.367,67.759-67.095,102.781 		c-17.892,14.082-38.164,27.124-60.813,39.115V54.813h127.908V237.539z"></path>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>

              <div class="content">

                <h3 class="title">Shop with Confidence</h3>


                <p class="description">Metus tellus ultricies et quam sit amet commodo odio diam a
                  libero nulla facilisi suspendissous enim sodales lacinia neque commodo.</p>

              </div>
            </div>
          </div>


          <div class="halo-item">
            <div class="halo-feature-icon layout-3">

              <div class="icon">
                <svg x="0px" y="0px" viewbox="0 0 437.6 437.6">
                  <path d="M264.6,300.4h-92C97,300.4,35.4,362,35.4,437.6h366.8C401.8,362.4,340.2,300.4,264.6,300.4z"></path>
                  <path d="M235,237.6c7.2,0,14,2.4,19.2,6.8h33.2c16.4-17.2,26.4-40,26.4-65.6c0-52.8-42.8-95.2-95.2-95.2s-95.2,42.4-95.2,95.2 c0,35.6,19.6,66.8,48.8,83.2c3.2-14,15.6-24.4,30-24.4H235z"></path>
                  <path d="M77.8,186.8c1.2,10,6,19.2,12.8,26c5.2,5.2,12,9.2,19.6,11.6c-0.4-1.6-0.4-3.2-0.4-4.4v-77.6c0-1.6,0-3.2,0.4-4.8 c-7.6,2-14,6-19.6,11.6c-0.4,0.4-1.2,1.2-1.6,1.6v-3.2c0-7.6,0.8-15.2,2-22.4c1.2-7.6,3.2-14.8,6-21.6c2.4-7.2,5.6-14,9.6-20.4 c3.6-6.4,8-12.8,12.8-18.4c0.4-0.4,0.8-1.2,0.8-1.6c3.6,0.4,7.2-0.8,9.6-3.2c24.4-24.4,56.4-36.4,88-36.4c31.6,0,64,12,88,36.4 c2.8,2.8,6.4,3.6,9.6,3.2c0.4,0.4,0.4,1.2,0.8,1.6c4.8,5.6,9.2,12,12.8,18.4c3.6,6.4,6.8,13.2,9.6,20.4c2.4,7.2,4.4,14.4,6,22 c1.2,7.2,2,14.8,2,22.4v3.2c-0.4-0.8-1.2-1.2-1.6-1.6c-5.2-5.2-12-9.2-19.6-11.6c0.4,1.6,0.4,3.2,0.4,4.8V220 c0,1.6,0,3.2-0.4,4.4c2-0.4,4-1.2,6-2v25.2c0,2.8-0.4,5.6-0.8,7.6c-0.4,2-1.2,3.2-2,4.4c-0.8,0.8-2,1.6-3.2,2 c-1.6,0.4-3.2,0.8-5.2,0.8h-0.4h-73.6c-2.4-4-6.4-6.8-11.6-6.8h-32.8c-7.2,0-12.8,6-12.8,12.8c0.4,7.2,6,12.8,13.2,12.8H235 c4.8,0,9.2-2.8,11.6-6.8H321h2.8c2.8,0,5.2-0.8,7.6-1.6c3.2-1.2,5.6-2.8,8-5.2c2-2.4,3.6-5.2,4.8-8.8c0.8-3.2,1.6-7.2,1.6-11.6 v-32V214c0.4-0.4,0.8-0.8,1.2-1.2c6.8-6.8,11.6-16,12.8-26c0.4-0.4,0.8-0.4,0.8-0.8c1.2-1.2,2-3.2,2-4.8V148 c0-8.4-0.8-16.8-2-24.8c-2.4-8.4-4.4-16.4-7.2-24.4c-2.8-8-6.4-15.6-10.8-22.8c-4-7.2-8.8-14-14.4-20.4c-0.4-0.8-1.2-1.2-2-1.6 c0.8-3.6-0.4-8-3.2-10.8C294.2,14.4,256.6,0,218.6,0S143,14.4,113.8,43.2c-2.8,2.8-4,7.2-3.2,10.8c-0.8,0.4-1.2,0.8-2,1.6 C103,62,98.2,68.8,94.2,76s-7.6,14.8-10.8,22.8c-2.8,8-5.2,16-6.4,24.4c-1.6,8-2,16.4-2,24.8v33.2c0,2,0.8,3.6,2,4.8 C77.4,186.4,77.8,186.4,77.8,186.8z"></path>
                </svg>
              </div>

              <div class="content">

                <h3 class="title">24/7 Help Center</h3>


                <p class="description">Metus tellus ultricies et quam sit amet commodo odio diam a
                  libero nulla facilisi suspendissous enim sodales lacinia neque commodo.</p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

  <footer class="site-footer halo_footer-default" data-section-type="footer">
    <div class="halo_footer_top">
      <div class="container">
        <div class="footer-info footer-row-flex">


          <div class="footer-col footer-col--small footer-col--mobile">
            <h5 class="footer-info-heading">Further Info.</h5>

            <ul class="footer-info-list">

              <li class="footer-info-item">
                <a href="blogs/news.html" aria-label="link">
                  Blog
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/faq.html" aria-label="link">
                  FAQs
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/brands.html" aria-label="link">
                  Brands
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/portfolio.html" aria-label="link">
                  Portfolio
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/look-book.html" aria-label="link">
                  Look Book
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/contact-us.html" aria-label="link">
                  Contact Us
                </a>
              </li>

              <li class="footer-info-item">
                <a href="index.html#" aria-label="link">
                  RSS Syndication
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Shipping &amp; Returns
                </a>
              </li>

            </ul>
          </div>


          <div class="footer-col footer-col--small footer-col--mobile">
            <h5 class="footer-info-heading">Customer Service</h5>

            <ul class="footer-info-list">

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Help &amp; FAQs
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Terms of Conditions
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Privacy Policy
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Online Returns Policy
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Rewards Program
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Rebate Center
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Partners
                </a>
              </li>

            </ul>
          </div>


          <div class="footer-col footer-col--small footer-col--mobile">
            <h5 class="footer-info-heading">Shop</h5>

            <ul class="footer-info-list">

              <li class="footer-info-item">
                <a href="collections/interior.html" aria-label="link">
                  Interior
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/exterior.html" aria-label="link">
                  Exterior
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/performance.html" aria-label="link">
                  Performance
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/lighting.html" aria-label="link">
                  Lighting
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/wheels-tires.html" aria-label="link">
                  Wheels &amp; Tires
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/audio-electronics.html" aria-label="link">
                  Audio &amp; Electronics
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/repair-parts.html" aria-label="link">
                  Repair Parts
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/body-parts.html" aria-label="link">
                  Body Parts
                </a>
              </li>

              <li class="footer-info-item">
                <a href="collections/tools.html" aria-label="link">
                  Tools
                </a>
              </li>

            </ul>
          </div>


          <div class="footer-col footer-col--small footer-col--mobile">
            <h5 class="footer-info-heading">Brands</h5>

            <ul class="footer-info-list">

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Dincidunteros
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Nectellus
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Solutmades
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Namdos Hempus
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Durpis Metus
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Cosmopolis
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Jimmy Choo
                </a>
              </li>

              <li class="footer-info-item">
                <a href="/#" aria-label="link">
                  Pellentes Habitanto
                </a>
              </li>

              <li class="footer-info-item">
                <a href="pages/brands.html" aria-label="link">
                  View All
                </a>
              </li>

            </ul>
          </div>


          <div class="footer-col">
            <div class="social_list mb-4">


              <div class="social-icons">

                <a class="social-icon facebook" href="https://facebook.com/shopify" title="Facebook"
                   target="_blank" aria-label="link">
                  <svg class="icon">
                    <use xlink:href="#icon-facebook"/>
                  </svg>
                </a>


                <a class="social-icon twitter" href="https://twitter.com/shopify" title="Twitter"
                   target="_blank" aria-label="link">
                  <svg class="icon">
                    <use xlink:href="#icon-twitter"/>
                  </svg>
                </a>


                <a class="social-icon instagram" href="http://instagram.com/shopify"
                   title="Instagram" target="_blank" aria-label="link">
                  <svg class="icon">
                    <use xlink:href="#icon-instagram"/>
                  </svg>
                </a>


                <a class="social-icon pinterest" href="https://pinterest.com/shopify"
                   title="Pinterest" target="_blank" aria-label="link">
                  <svg class="icon">
                    <use xlink:href="#icon-pinterest"/>
                  </svg>
                </a>


                <a class="social-icon vimeo" href="https://vimeo.com/shopify" title="Vimeo"
                   target="_blank" aria-label="link">
                  <svg class="icon">
                    <use xlink:href="#icon-vimeo"/>
                  </svg>
                </a>

              </div>

            </div>

            <h5 class="footer-info-heading">Join in Our Mailing List</h5>

            <p>Receive our latest updates about our products and promotions.</p>
            <div class="newsletterSubscription">


              <form method="post" action="https://spark-theme-automotive.myshopify.com/contact"
                    id="contact_form_3" accept-charset="UTF-8" class="input-group"><input
                        type="hidden" name="form_type" value="customer"/><input type="hidden"
                                                                                name="utf8" value="✓"/>
{#                <script src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/jquery.min.js?v=183235607511247117321627262473"></script>#}
                <script>
                  $(document).ready(function () {
                    if (window.location.href.indexOf('newsletter&form_type=customer') > -1) {
                      var newsletterSuccessPopup = (function () {
                        var popup = $('#newsletter-success-modal');
                        var success = popup.find('.success');
                        var error = popup.find('.error');
                        success.hide();
                        error.show();
                        popup.modal('show')
                        $.cookie('emailSubcribeModal', 'closed', {
                          expires: 1,
                          path: '/'
                        });
                      })();
                      var newURL = location.href.split("?")[0];
                      window.history.pushState('object', document.title, newURL);
                    }
                  })
                </script>

                <input type="hidden" name="contact[tags]" value="newsletter">
                <input class="input-group-field form-control" type="email" name="contact[email]"
                       aria-label="Email Address" placeholder="Email address" required="required">
                <input class="btn btn--primary" type="submit" value="Subscribe"></form>
            </div>
            <div class="geotrust_ssl--image" data-slick='{
                                        "rows": 0,
                                        "arrows": true,
                                        "dots": false,
                                        "autoplay": true,
                                        "infinite": true,
                                        "slidesToShow": 1,
                                        "slidesToScroll": 1,
                                        "adaptiveHeight": true,
                                        "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                                        "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                                    }'>


              <div class="item">
                <img class="geotrust_ssl_image lazyload"
                     src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                     data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/security-6.png?v=1613780092"
                     alt="" data-image>
              </div>


              <div class="item">
                <img class="geotrust_ssl_image lazyload"
                     src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                     data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/security-2.png?v=1613780089"
                     alt="" data-image>
              </div>


              <div class="item">
                <img class="geotrust_ssl_image lazyload"
                     src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                     data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/security-3.png?v=1613780089"
                     alt="" data-image>
              </div>


            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="halo_footer_bottom layout-1">
      <div class="container">

        <div class="item">

          <div class="footer-copyright">
            <small class="copyright-content">
              © 2023 autoparts Store . All Rights Reserved.
            </small>
          </div>
          <div class="footer-copyright">
            <small class="copyright-content">
              Powered by DevSol.pro
            </small>
          </div>

        </div>


        <div class="item">

          <ul class="payment-methods">


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-1_x32.png.jpg?v=1613778449"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-2_x32.png.jpg?v=1613778533"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-3_x32.png.jpg?v=1613778563"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-4_x32.png.jpg?v=1613778593"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-5_x32.png.jpg?v=1613778619"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-6_x32.png.jpg?v=1613778643"
                   alt="" data-image>
            </li>


            <li>
              <img class="payment-image lazyload"
                   src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                   data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/payment-7_x32.png.jpg?v=1613778675"
                   alt="" data-image>
            </li>


          </ul>

        </div>

      </div>
    </div>

  </footer>


  <div id="back-to-top">
    <a href="javascript:void(0)" aria-label="link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-up"
           viewBox="0 0 498.98 284.49">
        <defs>
          <style>.cls-1 {
              fill: #231f20
            }</style>
        </defs>
        <path class="cls-1"
              d="M579.91 486.24A35 35 0 0 1 520.16 511L330.42 321.25 140.68 511a35 35 0 1 1-49.5-49.5L305.67 247a35 35 0 0 1 49.5 0l214.49 214.5a34.89 34.89 0 0 1 10.25 24.74z"
              transform="translate(-80.93 -236.76)"/>
      </svg>
    </a>
  </div>


</div>

</div>
{#{{ footer_fixed }}#}
{{ mobile_nav }}

{{ js_scripts }}
{{ modal_dialog }}
{#{{ newsletter }}#}
{{ cart_popup }}
{{ modal }}

<div class="overlay_background"></div>
<div class="overlay_background_2"></div>
{#<footer>#}
{#  <div class="container">#}
{#    <div class="row">#}
{#      {% if informations %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_information }}</h5>#}
{#        <ul class="list-unstyled">#}
{#         {% for information in informations %}#}
{#          <li><a href="{{ information.href }}">{{ information.title }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      </div>#}
{#      {% endif %}#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_service }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
{#          <li><a href="{{ return }}">{{ text_return }}</a></li>#}
{#          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_extra }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>#}
{#          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
{#          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>#}
{#          <li><a href="{{ special }}">{{ text_special }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-sm-3">#}
{#        <h5>{{ text_account }}</h5>#}
{#        <ul class="list-unstyled">#}
{#          <li><a href="{{ account }}">{{ text_account }}</a></li>#}
{#          <li><a href="{{ order }}">{{ text_order }}</a></li>#}
{#          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
{#          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{#    <hr>#}
{#    <p>{{ powered }}</p>#}
{#  </div>#}
{#</footer>#}
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>