{{ header }}
<div id="account-password" class="container">
    <div class="breadcrumb-wrapper">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="item is-active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 478.448 478.448"><g><g>
                <polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon>
              </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </li>
      {% endfor %}
    </ul>
      <h1 class="page-heading">{{ heading_title }}</h1>
  </div>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
{#      <h1>{{ heading_title }}</h1>#}
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <h2 class="loginTitle">{{ text_password }}</h2>
          <div class="grid">
              <div class="grid__item medium-up--one-half">
                  <label for="input-password" class="form-label">{{ entry_password }}</label>
                  <input  type="password"  id="input-password" name="password" value="{{ password }}" autocomplete="given-name" class="form-control">
                  {% if error_password %}
                  <span id="RegisterForm-email-error" class="input-error-message">
                      <svg aria-hidden="true" focusable="false"  role="presentation" class="icon icon-error" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd"><path d="M7 0a7 7 0 0 1 7 7 7 7 0 1 1-7-7z"></path><path class="icon-error__symbol" d="M6.328 8.396l-.252-5.4h1.836l-.24 5.4H6.328zM6.04 10.16c0-.528.432-.972.96-.972s.972.444.972.972c0 .516-.444.96-.972.96a.97.97 0 0 1-.96-.96z" fill-rule="nonzero"></path></g></svg>
                      {{ error_password }}</span>
                  {% endif %}
              </div>

              <div class="grid__item medium-up--one-half">
                  <label for="input-confirm" class="form-label">{{ entry_confirm }}</label>
                  <input  type="password" id="input-confirm" name="confirm" value="{{ confirm }}" autocomplete="family-name" class="form-control">
                  {% if error_confirm %}
                  <span id="RegisterForm-email-error" class="input-error-message">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd"><path d="M7 0a7 7 0 0 1 7 7 7 7 0 1 1-7-7z"></path><path class="icon-error__symbol" d="M6.328 8.396l-.252-5.4h1.836l-.24 5.4H6.328zM6.04 10.16c0-.528.432-.972.96-.972s.972.444.972.972c0 .516-.444.96-.972.96a.97.97 0 0 1-.96-.96z" fill-rule="nonzero"></path></g></svg>
                      {{ error_confirm }}</span>
                  {% endif %}
              </div>

{#            <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />#}
{#              {% if error_password %}#}
{#              <div class="text-danger">{{ error_password }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />#}
{#              {% if error_confirm %}#}
{#              <div class="text-danger">{{ error_confirm }}</div>#}
{#              {% endif %}#}
{#            </div>#}

          </div>

              <div class="text-left">
                  {#              <input type="checkbox" id="address_default_address_7700657307723" name="address[default]" value="1">#}
                                <label  class="form-label">&nbsp</label>

                  <div class="button-group">

                      <input type="button" onclick="location.href='{{ back }}';" class="btn btn--secondary btn--big" value="{{ button_back }}">
                      <input type="submit" class="btn btn--secondary-accent btn--big" value="{{ button_continue }}">
                  </div>
              </div>

{#        <div class="buttons clearfix">#}
{#          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>#}
{#          <div class="pull-right">#}
{#            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />#}
{#          </div>#}
{#        </div>#}

      </form>

{#            <form method="post" action="/account/addresses/7700657307723" id="address_form_7700657307723" accept-charset="UTF-8">#}
{#                <input type="hidden" name="form_type" value="customer_address"><input type="hidden" name="utf8" value="✓">#}

{#                <h2 class="loginTitle">Edit address</h2>#}

{#                <div class="grid">#}
{#                    <div class="grid__item medium-up--one-half">#}
{#                        <label for="AddressFirstName_7700657307723" class="form-label">First Name</label>#}
{#                        <input type="text" id="AddressFirstName_7700657307723" name="address[first_name]" value="" autocomplete="given-name" class="form-control">#}
{#                    </div>#}

{#                    <div class="grid__item medium-up--one-half">#}
{#                        <label for="AddressLastName_7700657307723" class="form-label">Last Name</label>#}
{#                        <input type="text" id="AddressLastName_7700657307723" name="address[last_name]" value="" autocomplete="family-name" class="form-control">#}
{#                    </div>#}
{#                </div>#}

{#                <label for="AddressCompany_7700657307723" class="form-label">Company</label>#}
{#                <input type="text" id="AddressCompany_7700657307723" name="address[company]" value="" autocomplete="organization" class="form-control">#}

{#                <label for="AddressAddress1_7700657307723" class="form-label">Address</label>#}
{#                <input type="text" id="AddressAddress1_7700657307723" name="address[address1]" value="" autocomplete="street-address address-line1" class="form-control">#}

{#                <label for="AddressAddress2_7700657307723" class="form-label">Apartment, suite, etc.</label>#}
{#                <input type="text" id="AddressAddress2_7700657307723" name="address[address2]" value="" autocomplete="street-address address-line2" class="form-control">#}

{#                <div class="grid">#}
{#                    #}

{#                <div class="text-left">#}
{#                    <input type="checkbox" id="address_default_address_7700657307723" name="address[default]" value="1">#}
{#                    <label for="address_default_address_7700657307723" class="form-label">Set as default address</label>#}

{#                    <div class="button-group">#}
{#                        <input type="submit" class="btn btn--secondary-accent btn--big" value="Update Address">#}
{#                        <button type="button" class="text-link address-edit-toggle btn btn--primary btn--big" data-form-id="7700657307723">Cancel</button>#}
{#                    </div>#}
{#                </div>#}
{#                <input type="hidden" name="_method" value="put"></form>#}
{#            <hr>#}
{#        </div>#}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}