{{ header }}
<div id="checkout-cart" class="container">
    <div class="breadcrumb-wrapper">
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="item is-active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 478.448 478.448"><g><g>
                <polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon>
              </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </li>
      {% endfor %}
    </ul>
      <h1 class="page-heading">{{ heading_title }}
        {% if weight %}
          &nbsp;({{ weight }})
        {% endif %}</h1>
  </div>


  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
{#  <div class="row">{{ column_left }}#}
    <div class="page page-cart">
      <div data-section-id="template--14138547339339__main" data-section-type="cart-page">
        <a href="/collections/all" class="text-link continue_shopping_link" aria-label="link">
          {{ text_button_continue_shopping }} <svg aria-hidden="true" focusable="false" role="presentation"
                                                   class="icon icon-chevron-right" viewBox="0 0 478.448 478.448"><g><g>
                <polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon>
              </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}


        <form action="{{ action }}" method="post" novalidate="" class="cart cart-template">
          <div class="left-col cart_items">
            <div class="box-title">
              <h3 class="title">{{ product_text }}</h3>
            </div>
            <ul class="cart-list">
              {% for product in products %}
              <li data-product_id="{{ product.product_id }}">
                <div class="details">

                  <div class="cart-thumb">
                    {% if product.thumb %}
                    <a class="product-img" href="{{ product.href }}" aria-label="link">
                      <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
                    </a>
                    {% endif %}
                  </div>
                  <div class="cart-details">
                    <h4 class="product-title">
                      <a href="{{ product.href }}" class="product-name" aria-label="link">
                        {{ product.name }}
                      </a>{% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                    </h4>
                    <div class="size product-vendor">
                    </div>
                    <div class="properties product-vendor"></div>
                    <div class="product-vendor">
                      {{ product.brand }}
                    </div>
                    {% if product.option %}
                      {% for option in product.option %}
                        <small>{{ option.name }}: {{ option.value }}</small><br />
                      {% endfor %}
                    {% endif %}
                    {% if product.reward %} <br/>
                      <small>{{ product.reward }}</small> {% endif %}
                    {% if product.recurring %} <br/>
                      <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
                    {% endif %}
                    <div class="product-price">
                                    <span class="price-item">
                                        <span class="money" data-currency-usd="{{ product.price }}">{{ product.price }}</span>
                                    </span>
                    </div>
                    <div class="button-groups cart__update-wrapper">
                      <div class="quantity cart__update-control">
                        <label for="Quantity-template--14138547339339__main" class="form-label">{{ column_quantity }}:</label>
                        <div class="qty-group">
                          <a href="#" data-qtt="" data-minus-qtt="" class="minus button">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49">
                              <defs></defs>
                              <path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
                          </a>
                          <input class="cart__qty-input" type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" data-quantity-item="{{ product.quantity }}">
                          <a href="#" data-qtt="" data-plus-qtt="" class="plus button">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-up" viewBox="0 0 498.98 284.49"><defs>
                                <style>.cls-1{fill:#231f20}</style>
                              </defs><path class="cls-1" d="M579.91 486.24A35 35 0 0 1 520.16 511L330.42 321.25 140.68 511a35 35 0 1 1-49.5-49.5L305.67 247a35 35 0 0 1 49.5 0l214.49 214.5a34.89 34.89 0 0 1 10.25 24.74z" transform="translate(-80.93 -236.76)"></path></svg>
                          </a>
                        </div>
                      </div>
                      <div class="group-action">
                        <button type="submit" name="update" class=" btn btn--secondary cart__update-control" aria-label="Update Suspen disseuis rantion convallis udin terdum mamentu">
                          {{ text_button_update }}

                        </button>
                        <a class="remove btn btn--secondary" href="#"  onclick="cart.remove('{{ product.cart_id }}');" aria-label="link">
                          <span class="icon--big">×</span>
                          {{ text_button_remove }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="right-col">
{#            {% if modules %}#}
{#              <div class="panel-group" id="accordion"> {% for module in modules %}#}
{#                  {{ module }}#}
{#                {% endfor %} </div>#}
{#            {% endif %} <br/>#}

            <div class="box-title text-center">
              <h3 class="title">{{ text_order_summary }}</h3>
            </div>
              <style>
                  .total_text:nth-last-child(1n){
                      font-weight: 300;
                  }
                  .total_text :last-child { font-weight: 700; }
              </style>
            <div class="total total_text" style="display: block; ">
                {% for total in totals %}
                    <div >
                    <span>{{ total.title }}: </span>
                    <span class="money" data-currency-usd="{{ total.text }}">{{ total.text }}</span>
                    </div>
                {% endfor %}

            </div>
            <div class="terms_conditions_wrapper mb-3">
              <input type="checkbox" id="terms-conditions-cart" value="">
              <label class="title" for="terms-conditions-cart">
                {{ agreement_terms_conditions }}
              </label>
            </div>
            <div class="btn-actions disabled">
{#              <input type="submit" name="checkout" class="btn btn--primary cart__submit cart__submit-control" value="Proceed to checkout">#}
              <a href="{{ checkout }}" class="btn btn--primary cart__submit cart__submit-control">{{ button_proceed_checkout }}</a>
            </div>
            <div class="securityContact mt-4">
              <div class="wrapper">
                <svg class="icon" id="icon-user-protection" viewBox="0 0 612 612">
                  <path d="M251.733,288.168c79.576,0,144.084-64.509,144.084-144.084S331.31,0,251.733,0c-79.575,0-144.084,64.509-144.084,144.084 S172.158,288.168,251.733,288.168z M319.071,201.378c-6.555,21.671-34.632,37.963-68.283,37.963 c-33.651,0-61.728-16.292-68.282-37.963H319.071z M603.71,426.278c-3.09,85.35-37.799,158.706-118.848,185.722 c-81.049-27.016-115.758-100.372-118.848-185.722c-0.242-6.655,5.258-12.049,11.91-11.765 c37.873,1.615,70.926-10.577,99.877-34.521c4.074-3.37,10.045-3.37,14.121,0c28.949,23.943,62.004,36.136,99.875,34.521 C598.452,414.229,603.95,419.623,603.71,426.278z M341.194,427.167c1.414,39.206,8.896,73.968,21.902,103.688 c-30.627,3.456-67.427,5.733-111.363,5.733c-138.927,0-206.913-22.701-231.838-33.792c-6.431-2.86-11.613-11.042-11.613-18.082 V437.22c0-71.171,54.188-130.214,123.333-138.123c2.101-0.241,5.216,0.659,6.929,1.899c31.881,23.08,70.912,36.854,113.19,36.854 c42.278,0,81.31-13.774,113.19-36.854c1.713-1.24,4.828-2.14,6.93-1.899c39.904,4.564,74.748,26.218,97.148,57.348 c-2.482,1.222-4.875,2.624-7.023,4.403c-23.57,19.485-48.898,28.966-77.418,28.966c-1.844,0-3.697-0.039-5.588-0.126l-1.543-0.029 c-9.811,0-19.33,4.047-26.133,11.102C344.522,407.788,340.835,417.424,341.194,427.167z"></path>
                </svg>
                <p class="text">Secure Shopping Guarantee. Your information is secure.</p>
              </div>
              <p class="description">Need Help? Contact us or Get in touch {{ telephone }}</p>
            </div>
            <div id="shipping-calculator" class="mt-5">
              {{ mod_shipping_pt }}
            </div>
          </div>
        </form>
{#    <div id="content" class="{{ class }}">{{ content_top }}#}
{#      <div class="row">#}
{#        <div class="col-sm-4 col-sm-offset-8">#}
{#          <table class="table table-bordered">#}
{#            {% for total in totals %}#}
{#            <tr>#}
{#              <td class="text-right"><strong>{{ total.title }}:</strong></td>#}
{#              <td class="text-right">{{ total.text }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#          </table>#}
{#        </div>#}
{#      </div>#}
{#      <div class="buttons clearfix">#}
{#        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>#}
{#        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>#}
{#      </div>#}
      {{ content_bottom }}</div>
    {{ column_right }}</div>

  </div>
</div>
</div>

<script>
  $(".plus").on("click", (function() {
            let up = $(this).parents(".qty-group").find("input");
            up.val(Number(up.val())+1) ;
          }
  ));
  $(".minus").on("click", (function() {
            let up = $(this).parents(".qty-group").find("input");
            if(Number(up.val())>1){
              up.val(Number(up.val())-1);
            }
          }
  ));
</script>
{{ footer }} 
